{% extends 'base.html.twig' %}

{% block title %}Generals Bureaucratics Killers{% endblock %}



{% block body %}
    <div class=" main-title container-md rounded text-center mt-5">
        <h1 class="m-auto">Liste des Missions du GBK</h1>
    </div>
    <div class="container w-80 mt-2 listing rounded pb-2">
        <div class="row m-4 text-center listing_headers rounded">
            <div class="mt-2 col-lg-2">Nom de code</div>
            <div class="mt-2 col-lg-2">Date de début</div>
            <div class="mt-2 col-lg-2">Date de fin</div>
            <div class="mt-2 col-lg-2">Pays</div>
            <div class="mt-2 col-lg-2">Voir</div>
        </div>
        {% for mission in missions %}
            <div class="row mt-1 mx-4 mb-1 text-center mission_list rounded mb-2">
                <div class="mt-1 col-lg-2">{{ mission.nomCode }}</div>
                <div class="mt-1 col-lg-2">{{ mission.dateDebut|date('d-m-Y') }}</div>
                <div class="mt-1 col-lg-2">{{ mission.dateFin|date('d-m-Y') }}</div>
                <div class="mt-1 col-lg-2">{{ mission.pays }}</div>
                <div class="mt-1 col-lg-2">
                    <button class="mb-1 btn btn-danger">
                        <a href="{{ path("mission.index",{ 'id': mission.id} ) }}" class="text-light text-decoration-none">Voir</a>
                    </button>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}

