
{% block navbar %}
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('Home') }}">
                <img src="{{ asset('Images/Logo2.png') }}" class="border border-dark rounded-circle" alt="Logo du GBK">
            </a>
            <h2 class="m-auto">BGK</h2>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="m-auto">Menu</span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link link-danger me-5" aria-current="page" href="{{ path('Home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-danger me-5 {% if menu_active is defined and menu_active == 'active' %}active{% endif %} " href="{{ path('espace.index') }}">Espace privé</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}