@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
    --main-color: #233142;
    --secondary-color: #FACF5A;
    --primary-color: #41444B;
    --tercary-color: #FF5959;


    --main-font: 'Roboto';
    --main-font-size : 22px;
    --title-font: 'Staatliches';
    --main-title-size: 36px ;
    --secondary-title-size: 24px;
}

body{
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    background-color: var(--primary-color);
}

nav {
    font-size: var(--secondary-title-size);
    font-family:var(--title-font) ;
    background-color: var(--main-color);
}
.nav-link{
    color: var(--tercary-color);
    transition: ease 0.2s;
}
.nav-link:hover{
    text-decoration: underline;
    transform: scale(1.2);
    color: var(--tercary-color);
    transition: ease 0.2s;
}

.active{
    color:var(--secondary-color);
}
.navbar-toggler{
    background-color: var(--tercary-color) ;
}

.main-title{
    background-color:var(--tercary-color);
    border: solid 1px;
    border-color: var(--secondary-color);
}

h1{
    font-family: var(--title-font);
    font-size: 40px;
    color:var(--main-color);
}
h2{
    font-family: var(--title-font);
    font-size: 24px;
    color:var(--secondary-color);
}
.listing{
    background-color: var(--main-color);
    border: 1px  solid;
    border-color: var(--secondary-color);
    color: var(--primary-color);
}
.listing_headers{
    background-color: var(--secondary-color);
    border: 1px  solid;
    border-color: var(--tercary-color);
    color: var(--main-color);
}
.mission_list{
    background-color: #c4c4c4;
    border: 1px solid var(--tercary-color);
    color: var(--main-color);
}
.modifier{
    background-color: lightblue;
    color: var(--main-color);
}
td{
    color: var(--secondary-color);
    font-size: var(--main-font-size);
}

@media screen and (max-width: 1000px){
    .listing_headers{
        display: none;
    }
}


