{% extends 'base.html.twig' %}
{% block title %}Edition de Planquet{% endblock %}
{% block body %}
    <h1 class=" container-md main-title text-center">Editez votre Planque</h1>
    <div class="container-md mission_list rounded">
        {{ form_start(form) }}
        <div class="row mt-4 border-bottom border-primary">
            <div class="col-md-6">{{ form_row(form.pays) }}</div>
            <div class="col-md-6">{{ form_row(form.code_planque) }}</div>
        </div>
        <div class="row mt-4 border-bottom border-primary">
            <div class="col-md-6">{{ form_row(form.type) }}</div>
            <div class="col-md-6">{{ form_row(form.adresse) }}</div>
        </div>

        {{ form_rest(form) }}
        <div class="row align-items-end">
            <button class="btn btn-primary">Enregistrer</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
