{% extends 'base.html.twig' %}
{% block title %}Création de Planque{% endblock %}
{% block body %}
    <div class="container main-title rounded mt-4">
        <div class="row align-items-center text-center">
            <h1 class="col">Créer la Planque</h1>
        </div>
    </div>
    <div class="container-md mission_list mt-5 mb-5 p-4 rounded">
        {{ form_start(form) }}
        <div class="row mt-4 border-bottom border-primary">
            <div class="col-md-6">{{ form_row(form.adresse) }}</div>
            <div class="col-md-6">{{ form_row(form.pays) }}</div>
        </div>
        <div class="row mt-4 border-bottom border-primary">
            <div class="col-md-6">{{ form_row(form.type) }}</div>
            <div class="col-md-6">{{ form_row(form.code_planque) }}</div>
        </div>

        {{ form_rest(form) }}
        <div class="row align-items-end">
            <button class="btn btn-primary">Créer</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
