{% extends 'base.html.twig' %}
{% block title %}Création d'Agent{% endblock %}
{% block body %}
    <div class="container main-title rounded mt-4">
        <div class="row align-items-center text-center">
            <h1 class="col">Créer l'Agent</h1>
        </div>
    </div>
    <div class="container-md mission_list mt-5 mb-5 p-4 rounded">
        {{ form_start(form) }}
        <div class="row mt-4 border-bottom border-primary">
            <div class="col-md-6">{{ form_row(form.nom) }}</div>
            <div class="col-md-6">{{ form_row(form.prenom) }}</div>
        </div>
        <div class="row mt-4 border-bottom border-primary">
            <div class="col-md-6">{{ form_row(form.specialite) }}</div>
            <div class="col-md-6">{{ form_row(form.dateNaissance) }}</div>
        </div>
        <div class="row mt-4 border-bottom border-primary">
            <div class="col-6">{{ form_row(form.codeAgent) }}</div>
            <div class="col-6">{{ form_row(form.nationalite) }}</div>
        </div>
        {{ form_rest(form) }}
        <div class="row align-items-end">
            <button class="btn btn-primary">Créer</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
