{% extends 'base.html.twig' %}
{% block title %}Espace Privé{% endblock %}
{% block body %}
    <div class="container-md main-title rounded mt-5">
        <div class="d-flex">
            <h1 class="m-auto justify-content-center">Mission {{ mission.nomCode }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="container rounded listing w-75 m-5">
                <div class="row text-center mt-2">
                    <div class="col-6">
                        <h2><b>Nom de Code</b></h2>
                    </div>
                    <div class="col-6">
                        <h2><i>{{ mission.nomCode }}</i></h2>
                    </div>
                </div>
                <div class="row text-center mt-2">
                    <div class="col-6">
                        <h2><b>Date de début</b></h2>
                    </div>
                    <div class="col-6">
                        <h2><i>{{ mission.dateDebut|date('dmY') }}</i></h2>
                    </div>
                </div>
                <div class="row text-center mt-2">
                    <div class="col-6">
                        <h2><b>Date de fin</b></h2>
                    </div>
                    <div class="col-6">
                        <h2><i>{{ mission.dateFin|date('dmY') }}</i></h2>
                    </div>
                </div>
                <div class="row text-center mt-2">
                    <div class="col-6">
                        <h2><b>Type de mission</b></h2>
                    </div>
                    <div class="col-6">
                        <h2><i>{{ mission.type }}</i></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="container rounded listing w-75 m-5">
                <div class="row text-center mt-2">
                    <div class="col-6">
                        <h2><b>Spécialité requise</b></h2>
                    </div>
                    <div class="col-6">
                        <h2><i>{{ mission.specialite }}</i></h2>
                    </div>
                </div>
                <div class="row text-center mt-2">
                    <div class="col-6">
                        <h2><b>Pays</b></h2>
                    </div>
                    <div class="col-6">
                        <h2><i>{{ mission.pays }}</i></h2>
                    </div>
                </div>
                <div class="row text-center mt-2">
                    <div class="col-6">
                        <h2><b>Statut</b></h2>
                    </div>
                    <div class="col-6">
                        <h2><i>{{ mission.statut }}</i></h2>
                    </div>
                </div>
                <div class="row text-center mt-2">
                    <div class="col">
                        <h2><b>Description</b></h2>
                    </div>
                </div>
                <div class="row text-center mt-2">
                    <div class="col">
                        <h2><i>{{ mission.description }}</i></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>







{% endblock %}