<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Site d'une agence d'espions">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index"/>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ asset('Css/styles.css') }}">
    {% block stylesheets %}{% endblock %}
    <title> {% block title %}{% endblock %}</title>
</head>

    <body>

        {% include('Base/navbar.html.twig') %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-info w-25 text-center">
                {{ message }}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        {% block scripts %}{% endblock %}
    </body>

</html>