{% extends 'base.html.twig' %}
{% block title %}Espace Privé{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <button class="btn btn-light">
                    <a href="{{ path('app_logout') }}" class="nav-link link-danger"> <h2 class="m-auto">Se Deconnecter</h2></a>
                </button>
            </div>
        </div>
    </div>
    <div class="container-md main-title rounded mt-5">
        <div class="d-flex">
            <h1 class="m-auto justify-content-center">Menu de Gestion Principal</h1>
        </div>
    </div>


    <div class="container-fluid row">
        <div class="col-6">
            <div class="container rounded listing mt-5">
                <div class=" text-center" >
                    <h2>Missions</h2>
                </div>
                <table  class="container mt-2">
                    <thead class=" text-center">
                    <tr class="listing_headers">
                        <th>Nom de Code</th>
                        <th>Date Début</th>
                        <th>Date Fin</th>
                        <th>Statut</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody class=" text-center">
                    {% for mission in missions %}
                        <tr class="border-bottom">
                            <td><b><i>{{ mission.nomCode }}</i></b></td>
                            <td>{{ mission.dateDebut|date('d/m/y')}}</td>
                            <td>{{ mission.dateFin|date('d/m/y')}}</td>
                            <td>{{ mission.statut }}</td>
                            <td>
                                <a href="{{ path('mission.edit', {'id': mission.id}) }}" class="btn btn-light m-auto">Modifier</a>
                            </td>
                            <td>
                                <form method="post" action="{{ path('mission.delete', {'id': mission.id}) }}" class="m-auto mt-2">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mission.id) }}">
                                    <button class="btn btn-danger text-center mb-2">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="container-md w-25 mt-4">
                <div class="row p-0 m-0">
                    <button class="btn btn-primary col">
                        <a href="{{ path('mission.create')}}" class="btn"><h2 class="m-auto">Créer Mission</h2></a>
                    </button>
                </div>
            </div>
        </div>



        <div class="col-6">
            <div class="container rounded listing mt-5">
                <div class=" text-center" >
                    <h2>Agents</h2>
                </div>
                <table  class="container mt-2">
                    <thead class=" text-center">
                    <tr class="listing_headers">
                        <th>Nom de Code</th>
                        <th>Prenom</th>
                        <th>Nom</th>
                        <th>Nationalité</th>
                        <th>Specialité</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody class=" text-center">
                    {% for agent in agents %}
                        <tr class="border-bottom">
                            <td><b><i>{{ agent.codeAgent }}</i></b></td>
                            <td>{{ agent.prenom }}</td>
                            <td>{{ agent.nom }}</td>
                            <td>{{ agent.nationalite }}</td>
                            <td>{{ agent.specialite }}</td>

                            <td>
                                <a href="{{ path('agent.edit', {'id': agent.id}) }}" class="btn btn-light m-auto">Modifier</a>
                            </td>
                            <td>
                                 <form method="post" action="{{ path('agent.delete', {'id': agent.id}) }}" class="m-auto mt-2">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agent.id) }}">
                                    <button class="btn btn-danger text-center mb-2">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="container-md w-25 mt-4">
                <div class="row">
                    <button class="btn btn-primary col">
                         <a href="{{ path('agent.create')}}" class="btn m-2"><h2 class="m-auto">Créer Agent</h2></a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row container-fluid">
        <div class="col-6">
            <div class="container rounded listing mt-5">
                <div class=" text-center" >
                    <h2>Cibles</h2>
                </div>
                <table  class="container mt-2">
                    <thead class=" text-center">
                    <tr class="listing_headers">
                        <th>Nom de Code</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody class=" text-center">
                    {% for cible in cibles %}
                        <tr class="border-bottom">
                            <td><b><i> {{ cible.nomCode }} </i></b></td>
                            <td>{{ cible.nom }}</td>
                            <td>{{ cible.prenom}}</td>
                            <td>
                                 <a href="{{ path('cible.edit', {'id': cible.id}) }}" class="btn btn-light m-auto">Modifier</a>
                            </td>
                            <td>
                                 <form method="post" action="{{ path('cible.delete', {'id': cible.id}) }}" class="m-auto mt-2">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cible.id) }}">
                                    <button class="btn btn-danger text-center mb-2">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="container-md w-25 mt-4">
                <div class="row p-0 m-0">
                    <button class="btn btn-primary col">
                        <a href="{{ path('cible.create')}}" class="btn"><h2 class="m-auto">Créer Cible</h2></a>
                    </button>
                </div>
            </div>
        </div>


        <div class="col-6">
            <div class="container rounded listing mt-5">
                <div class=" text-center" >
                    <h2>Contacts</h2>
                </div>
                <table  class="container mt-2">
                    <thead class=" text-center">
                    <tr class="listing_headers">
                        <th>Nom de Code</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody class=" text-center">
                    {% for contact in contacts %}
                        <tr class="border-bottom">
                            <td><b><i>{{ contact.nomCode }}</i></b></td>
                            <td>{{ contact.nom }}</td>
                            <td>{{ contact.prenom}}</td>
                            <td>
                                 <a href="{{ path('contact.edit', {'id': contact.id}) }}" class="btn btn-light m-auto">Modifier</a>
                            </td>
                            <td>
                                 <form method="post" action="{{ path('contact.delete', {'id': contact.id}) }}" class="m-auto mt-2">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
                                    <button class="btn btn-danger text-center mb-2">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="container-md mt-4" style="width: 200px">
                <div class="row p-0 m-0">
                    <button class="btn btn-primary col">
                        <a href="{{ path('contact.create')}}" class="btn w-auto"  ><h2 class="m-auto">Créer Contact</h2></a>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid row">
        <div class="col-6">
            <div class="container rounded listing mt-5">
                <div class=" text-center" >
                    <h2>Planques</h2>
                </div>
                <table  class="container mt-2">
                    <thead class=" text-center">
                    <tr class="listing_headers">
                        <th>Code Planque</th>
                        <th>Adresse</th>
                        <th>Pays</th>
                        <th>Type</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody class=" text-center">
                    {% for planque in planques %}
                        <tr class="border-bottom">
                            <td><b>{{ planque.codePlanque }}</i></b></td>
                            <td>{{ planque.adresse }}</td>
                            <td>{{ planque.pays}}</td>
                            <td>{{ planque.type}}</td>
                            <td>
                                <a href="{{ path('planque.edit', {'id': planque.id}) }}" class="btn btn-light m-auto">Modifier</a>
                            </td>
                            <td>
                                <form method="post" action="{{ path('planque.delete', {'id': planque.id}) }}" class="m-auto mt-2">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ planque.id) }}">
                                    <button class="btn btn-danger text-center mb-2">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="container-md w-25 mt-4">
                <div class="row p-0 m-0">
                    <button class="btn btn-primary col">
                        <a href="{{ path('planque.create')}}" class="btn"><h2 class="m-auto">Créer Planque</h2></a>
                    </button>
                </div>
            </div>
        </div>
    </div>





{% endblock %}