{% extends 'base.html.twig' %}
{% block title %}Edition de Mission{% endblock %}
{% block body %}
    <h1 class=" container-md main-title text-center">Editez votre mission</h1>
    <div class="container-md mission_list rounded">
        {{ form_start(form) }}
        <div class="row mt-4 border-bottom border-primary">
            <div class="col-md-6">{{ form_row(form.nom_code) }}</div>
            <div class="col-md-6">{{ form_row(form.statut) }}</div>
        </div>
        <div class="row mt-4 border-bottom border-primary">
            <div class="col-md-6">{{ form_row(form.pays) }}</div>
            <div class="col-md-6">{{ form_row(form.type) }}</div>
        </div>
        <div class="row mt-4 border-bottom border-primary">
            <div class="col-6">{{ form_row(form.date_fin) }}</div>
            <div class="col-6">{{ form_row(form.specialite) }}</div>
        </div>
        <div class="row mt-4 border-bottom border-primary">
            <div class="col-6">{{ form_row(form.dateDebut) }}</div>
        </div>
        <div class="row  mt-4 border-bottom border-primary">
            <div class="col">{{ form_row(form.description) }}</div>
        </div>
        <div class="row mt-4 border-bottom border-primary">
            <div class="col">{{ form_row(form.agent) }}</div>
        </div>
        <div class="row mt-4 border-bottom border-primary">
            <div class="col">{{ form_row(form.contact) }}</div>
        </div>
        <div class="row mt-4 border-bottom border-primary">
            <div class="col">{{ form_row(form.planque) }}</div>
        </div>


        {{ form_rest(form) }}
        <div class="row align-items-end">
            <button class="btn btn-primary">Enregistrer</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
