{% extends 'base.html.twig' %}
{% block title %}Création de Mission{% endblock %}
{% block body %}
    <div class="container main-title rounded mt-4">
        <div class="row align-items-center text-center">
            <h1 class="col">Créer la mission</h1>
        </div>
    </div>
    <div class="container-md mission_list mt-5 mb-5 p-4 rounded">
        {{ form_start(form) }}
        <div class="row mt-4 border-bottom border-primary">
            <div class="col-md-6">{{ form_row(form.nom_code) }}</div>
            <div class="col-md-6">{{ form_row(form.statut) }}</div>
        </div>
        <div class="row mt-4 border-bottom border-primary">
            <div class="col-md-6">{{ form_row(form.pays) }}</div>
            <div class="col-md-6">{{ form_row(form.type) }}</div>
        </div>
        <div class="row mt-4 border-bottom border-primary">
            <div class="col-6">{{  form_row(form.dateDebut) }}</div>
            <div class="col-6">{{  form_row(form.specialite)  }}</div>
        </div>
        <div class="row mt-4 border-bottom border-primary">
            <div class="col-6">{{ form_row(form.date_fin) }}</div>
        </div>
        <div class="row  mt-4 border-bottom border-primary">
            <div class="col">{{ form_row(form.description) }}</div>
        </div>
        <div class="row mt-4 border-bottom border-primary">
            <div class="col">{{ form_row(form.agent) }}</div>
        </div>
        <div class="row mt-4 border-bottom border-primary">
            <div class="col">{{ form_row(form.contact) }}</div>
        </div>
        <div class="row mt-4 border-bottom border-primary">
            <div class="col">{{ form_row(form.planque) }}</div>
        </div>

        {{ form_rest(form) }}
        <div class="row align-items-end">
            <button class="btn btn-primary">Créer</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
